doctype html
head
    title Page Title
    link(rel='stylesheet', href='/css/bootstrap.min.css', integrity='sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm', crossorigin='anonymous')

    block content
script(src='/js/jquery-3.2.1.min.js', crossorigin='anonymous')
script(src='/js/bootstrap.min.js', crossorigin='anonymous')