extends ../layouts/common.pug

block content
    p Search
    form(action='/users/search')
        | Name:
        br
        input(type='text', name='name', value=`${valSearch}` )
        br
        input(type='submit', value='Submit')

    ul
        each val, index in users
            li= val.id + ': ' + val.name